.landing {
  height: 100%;

  .landing-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    height: $header-height;
  }

  .landing-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    // 100% - header height - padding bottom.
    height: calc(100% - #{$header-height} - 3rem);
    margin: 0 2rem 3rem 2rem;
  }
}

.landing-header {
  // todo mobile nav links...
  .nav-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    width: $sidebar-width;
    height: 100%;
    top: 0;
    left: -$sidebar-width;
    transition: left 0.2s ease-in-out;

    &.visible {
      left: 0;
    }

    a {
      text-align: center;
      padding: 2rem 0;
      color: white;
      text-decoration: none;
      font-size: 24px;
    }
  }
}


.landing-body {
  .landing-headline {
    // Small margin at top.
    margin: 0.5rem 0 0 0;
    font-size: 24px;
  }

  .landing-subheadline {
    line-height: 150%;
    font-size: 14px;
    font-weight: 500;

    // No margin to maximize space-between other elements of flex.
    p {
      margin: 0;
      // Add margin-top to all but the first <p> to separate paragraphs.
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
  }

  .landing-call-to-action {
    padding: 1.25rem;
    min-width: 35%;
    color: white;
    background-color: $primary-color;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    align-self: center;

    transition: background-color 0.2s ease;
    &:hover {
      background-color: darken($primary-color, 10);
    }
  }
}