$primary-color: #AB56FF;
$background-color: #191919;   // Background color of blocks that obscure bg.
$foregound-color: #FFF;       // Color of text that sits on blocks that obscure bg.

$sidebar-width: 75%;            // Width of toggle-able sidebar navigation on mobile.
$mobile-header-height: 4rem;
$desktop-header-height: 8rem;
$mobile-side-margin: 2rem;
$desktop-sm-side-margin: 6rem;
$desktop-lg-side-margin: 12rem;

// Breakpoint for desktop layout.
@mixin desktop-sm {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin desktop-lg {
  @media screen and (min-width: 1400px) {
    @content;
  }
}