@import '_variables';
@import '_landing';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'montserrat', sans-serif;
  color: white;
  background: url('/assets/images/background.jpg');
  background-color: black;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

body.wide-bg {
  background-size: 100% auto;
}

.flavor-text {
  &.primary {
    color: $primary-color;
  }
}

.desktop-no-margin {
  @include desktop-sm {
    margin: 0 !important;
  }
}
