@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
.landing {
  height: 100%;
}

.landing .landing-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  height: 4rem;
}

@media screen and (min-width: 700px) {
  .landing .landing-header {
    margin: 0 6rem;
    height: 8rem;
  }
}

@media screen and (min-width: 1400px) {
  .landing .landing-header {
    margin: 0 12rem;
  }
}

.landing .landing-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: calc(100% - 4rem - 3rem);
  margin: 0 2rem 3rem 2rem;
}

@media screen and (min-width: 700px) {
  .landing .landing-body {
    height: calc(100% - 8rem - 3rem);
    margin: 0 6rem 3rem 6rem;
  }
}

@media screen and (min-width: 1400px) {
  .landing .landing-body {
    margin: 0 12rem 3rem 12rem;
  }
}

@media screen and (min-width: 1400px) and (min-height: 1000px) {
  .landing .landing-body {
    height: calc(80% -  8rem - 3rem);
  }
}

@media screen and (min-width: 700px) {
  .landing-header .nav-toggle {
    display: none;
  }
}

.landing-header .nav-links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  width: 75%;
  height: 100%;
  top: 0;
  left: -75%;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.landing-header .nav-links.visible {
  left: 0;
}

.landing-header .nav-links a {
  text-align: center;
  padding: 2rem 0;
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.landing-header .nav-links a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 700px) {
  .landing-header .nav-links {
    position: initial;
    width: auto;
    background: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-header .nav-links a {
    padding: initial;
  }
  .landing-header .nav-links a:not(:last-child) {
    margin-right: 6rem;
  }
}

.landing-body .landing-headline {
  margin: 0.5rem 0 0 0;
  font-size: 24px;
}

@media screen and (min-width: 700px) {
  .landing-body .landing-headline {
    font-size: 36px;
  }
}

@media screen and (min-width: 1400px) {
  .landing-body .landing-headline {
    font-size: 48px;
  }
}

.landing-body .landing-subheadline {
  line-height: 150%;
  font-size: 14px;
  font-weight: 500;
}

.landing-body .landing-subheadline p {
  margin: 0;
}

.landing-body .landing-subheadline p:not(:first-child) {
  margin-top: 1rem;
}

@media screen and (min-width: 700px) {
  .landing-body .landing-subheadline {
    font-size: 18px;
    max-width: 40rem;
  }
}

@media screen and (min-width: 1400px) {
  .landing-body .landing-subheadline {
    font-size: 24px;
    max-width: 60rem;
  }
}

.landing-body .landing-call-to-action {
  padding: 1.25rem;
  min-width: 35%;
  color: white;
  background-color: #AB56FF;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.landing-body .landing-call-to-action:hover {
  background-color: #9223ff;
}

@media screen and (min-width: 700px) {
  .landing-body .landing-call-to-action {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  font-family: 'montserrat', sans-serif;
  color: white;
  background: url("/assets/images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

body.wide-bg {
  background-size: 100% auto;
}

.flavor-text.primary {
  color: #AB56FF;
}

@media screen and (min-width: 700px) {
  .desktop-no-margin {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */