@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
.landing-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing-header .nav-toggle {
  padding: 0.6rem 1rem;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

@media screen and (min-width: 768px) {
  .landing-header .nav-toggle {
    display: none;
  }
}

.landing-header .nav-toggle:hover {
  cursor: pointer;
}

.landing-header .nav-toggle.menu-open {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-links {
  position: absolute;
  top: 0;
  left: -80%;
  width: 80%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-links.visible {
  left: 0;
}

.nav-links a {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 2rem 0;
  text-decoration: none;
}

.nav-links a:hover, .nav-links a:focus {
  text-decoration: underline;
}

.nav-links a.title-link {
  color: #AB56FF;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .nav-links a.title-link {
    margin-bottom: 0;
  }
}

.nav-links a:nth-child(2) {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .nav-links {
    position: static;
    height: auto;
    width: 100%;
    padding: 0 5%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav-links a {
    width: auto;
    padding: 1.5rem;
  }
}

.landing {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .landing-body {
  min-height: 50vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing .landing-body .landing-headline {
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .landing .landing-body .landing-headline {
    font-size: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .landing .landing-body .landing-headline {
    font-size: 40px;
  }
}

.landing .landing-body .landing-subheadline {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .landing .landing-body .landing-subheadline {
    font-size: 20px;
    max-width: 30rem;
  }
}

@media screen and (min-width: 1200px) {
  .landing .landing-body .landing-subheadline {
    font-size: 24px;
    max-width: 50rem;
  }
}

.landing .landing-body .landing-call-to-action {
  width: 10rem;
  max-width: 100%;
  text-align: center;
  padding: 1rem;
  margin: 1rem 0;
  color: white;
  text-decoration: none;
  border-radius: 2px;
  background: #AB56FF;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  font-size: 20px;
}

.landing .landing-body .landing-call-to-action:hover {
  background-color: #9223ff;
}

@media screen and (min-width: 768px) {
  .landing .landing-body .landing-call-to-action {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .landing .landing-body .landing-call-to-action {
    width: 15rem;
    font-size: 28px;
  }
}

.section {
  min-height: 100vh;
  margin: 8rem 0;
  background: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section.no-margin-bottom {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 2rem;
  }
}

.section-inner .section-title {
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .section-inner .section-wording {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .section-inner .section-wording {
    font-size: 20px;
  }
}

.contact-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-item {
  display: block;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  border: solid rgba(255, 255, 255, 0.2) 1px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .contact-item {
    width: 300px;
  }
}

.contact-item:hover .contact-item-img, .contact-item:focus .contact-item-img {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: 100px 100px;
}

.contact-item:hover .contact-item-title, .contact-item:focus .contact-item-title {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.contact-item:hover .contact-item-text, .contact-item:focus .contact-item-text {
  color: skyblue;
  text-decoration: underline;
}

.contact-item .contact-item-img {
  height: 150px;
  width: 150px;
  border: solid white 1px;
  border-radius: 50%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px 80px;
  -webkit-transition: background-color, background, 0.2s;
  transition: background-color, background, 0.2s;
}

.contact-item .contact-item-title {
  color: #AB56FF;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.contact-item .contact-item-text {
  max-width: 100%;
  word-wrap: break-word;
}

.contact-item.email .contact-item-img {
  background-image: url("/assets/images/contact-logos/email-white-48dp.svg");
}

.contact-item.email:hover .contact-item-img,
.contact-item.email:focus .contact-item-img {
  background-image: url("/assets/images/contact-logos/email-black-48dp.svg");
}

.contact-item.linkedin .contact-item-img {
  background-image: url("/assets/images/contact-logos/LI-White.png");
  background-size: 70px 60px;
  background-position-x: calc(50% + 6px);
}

.contact-item.linkedin:hover .contact-item-img,
.contact-item.linkedin:focus .contact-item-img {
  background-image: url("/assets/images/contact-logos/LI-Black.png");
  background-size: 84px 72px;
}

.contact-item.github .contact-item-img {
  background-image: url("/assets/images/contact-logos/GitHub-Mark-Light-120px-plus.png");
}

.contact-item.github:hover .contact-item-img,
.contact-item.github:focus .contact-item-img {
  background-image: url("/assets/images/contact-logos/GitHub-Mark-120px-plus.png");
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  font-family: 'montserrat', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background: url("/assets/images/background.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  background-attachment: fixed;
}

body.wide-bg {
  background-size: 100% auto;
}

.flavor-text.primary {
  color: #AB56FF;
}

@media screen and (min-width: 768px) {
  .desktop-no-margin {
    margin: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */